:root {
  --lightGray: #918E9B;
}

* {
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  background-color: #F55A5A;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-globe {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header-title {
  color: #fff;
}

.card {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 400px;
  height: 200px
}

.card-image {
  width: 126px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.card-info-location {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3em;
}

.card-info-location-title {
  margin: 0;
  letter-spacing: 0.17em;
}

.card-info-location > p {
  margin-right: 10px;
}

a {
  color: var(--lightGray);
}

a:visited {
  color: var(--lightGray);
}

.card-info-description {
  text-align: left;
}

.card-info-description-title {
  margin-bottom: 1em;
}

.card-info-description-description {
  margin-top: 0.7em;
}


@media screen and (max-width: 440px) {
  .card-info-location {
    margin-bottom: 0.2em;
  }
  .card-info-location-title {
    letter-spacing: 0;
  }
  .card-info-location > p {
    margin-right: 5px;
  }

  .card-info-description-title{
    margin: 0;
  }
} 